<% unless @sites.nil? %>
<% if @sites.size > 0 %>
  <%= render :partial => "layouts/reviewlist", :locals => { :section => params[:niche], :sites => @sites, :is_top => 1 } %>
<br><%= will_paginate(@sites) %>
<% else %>
  <p>&nbsp;</p>
  <i>Sorry, Nothing Found.</i>
<% end %>
<% end %>
