#messages {
	cursor: pointer;
	font-weight: bold;
	font-size: 10pt;
	width: 75%;
}
#messages li {
	text-align: center;
	vertical-align: middle;
	border: 2px solid #000;
	margin: 5px;
	margin-top: 25px;
	position: relative;
	padding-top: 7px;
	padding-bottom: 7px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	color: #FFFFFF;
	background: #FF0000;
}
#messages .success {
	color: #FFFFFF;
	background: #00FF00;
}
#messages .invalid {
	color: #FFFFFF;
	background: #FF0000;
}
#messages .notice {
	color: #FFFFFF;
	background: #0000FF;
}
